p/*dark is default ig*/
/*solarized*/
* {
		background: #002b36;
		color: #839496;
}
@media (prefers-color-scheme: dark) {
	* {
		background: #002b36;
		color: #839496;
	}
}
@media (prefers-color-scheme: light) {
	* {
		background: #fdf6e3;
		color: #586e75;
	}
}

p {
	margin-left: 48px;
	text-indent: 48px;
}
#duya {
	margin-left: 0px;
	text-indent: 0px;
	text-align: center;
}
a {
	color: #dc322f;
}
hr {
	/*color: #dc322f;*/ /*idk why chromium breaks here wtf*/
	border: 1px solid #dc322f;
}
footer {
	text-align: right;
}
#nav {
	text-decoration: none;
	background: #dc322f;
	color: #002b36;
	margin-right: 4px;
	margin-left: 4px;
}

@media (pointer: fine), (pointer: none) {
	div {
		max-width: 768px;
		margin: auto;
	}
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
